doctype html
html
  body
    include header
    block content
      p stats page
      p='blocks:'+total
      p='blocks till retarget:'+(total%config.retarget)
      p='last block mined at:'+new Date(cache.o0.time*1000)
      p='last block is '+((Date.now()/1000) - cache.o0.time)+' seconds old'
      p='10-block inter-block delay is:'+cache.tenavg
      p='100-block inter-block delay is:'+cache.hunavg
      p='10-block retarget prediction:'+Math.floor(((total%config.retarget) * cache.tenavg)/3600)
      p='100-block retarget prediction:'+Math.floor(((total%config.retarget) * cache.hunavg)/3600)
