doctype html
html
  body
    include header
    block content
      p stats page
      p='blocks:'+blocks
      p='blocks till retarget:'+(blocks%config.retarget)
      p='last block mined at:'+new Date(lastblock.time*1000)
      p='last block is '+((Date.now()/1000) - lastblock.time)+' seconds old'
      p='inter-block delay is:'+(lastblock.time - secondlast.time)
      p='aprox hours until retarget:'+Math.floor(((blocks%config.retarget) * (lastblock.time - secondlast.time))/3600)
