doctype html
html
  body
    include header
    block content
      p stats page
      p='blocks:'+total
      p='blocks till retarget:'+(total%config.retarget)
      p='last block mined at:'+new Date(cache.blocks[cache.blocks.length-1].time*1000)
      p='last block is '+((Date.now()/1000) - cache.blocks[cache.blocks.length-1].time)+' seconds old'
      p=config.avgperiod+'-block inter-block delay is:'+cache.avgtime
      p='aprox hours until retarget:'+Math.floor(((total%config.retarget) * cache.avgtime)/3600)
